<section class="home">
  <h1>Welcome!!!</h1>

  <img class="self" src="<%=image_url("douglas-moore.jpg") %>" alt="douglas-moore">

  <p>
    Welcome to my page! I am a full stack engineer nearing the end of AppAcademy's software development bootcamp. I have been specializing in Ruby on Rails, SQL, Javascript, JQuery, Underscore, and React/Flux.
  </p>
  <p>
    I am formerly an Accountant. After working for two tech startups, I realized my calling was in creating software and building products that make everyone's lives easier.  I took the ultimate risk in leaving my job and enrolled in AppAcademy and I haven't looked back. I'm looking forward to getting back to work and utilizing all of my skills in development, accounting, and business.
  </p>
  <p>
    Outside development and tech I enjoy music, dining out, and exploring the city.
  </p>
  <p>
    Please check out my blog, JS games, resume and feel free to <strong><a href="mailto:douglas.moore89@gmail.com"> email me </a></strong> if you have any questions.
  </p>
</section>
