<header class="header group">
  <h1 class="header-title">
    <a href="<%= root_url %>">Douglas Moore</a>
  </h1>
  <nav class="header-nav group">
    <ul class="header-nav-list">
      <li><a href="#">About</a></li>
      <li><a href="<%= articles_url %>">Blog</a></li>
      <li><a href="#">Games</a></li>
    </ul>
  </nav>
</header>
