
body, main, p, div, ul, li, h1, h2, hr, h6, a, small, strong {
  padding: 0;
  margin: 0;
  border: 0;


  font: inherit;
  text-align: inherit;
  color: inherit;

  text-emphasis: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: helvetica;
  font-weight: 300;
  background-color: #A85516;
}

.flash{
  display: block;
  padding: 200;
  background-color: grey;
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}

main {
  background-color: #E49559;
  width: 996px;
  min-height: 400px;
  margin: auto;
  border: darkgrey double 2px;
  overflow-y: visible;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

.header{
  display: block;
  background: #CD332F;
  width: 1000px;
  margin: auto;
  color: white;
}

.header-title{
  display: block;
  float: left;
  font-size: 36px;
  font-weight: 600;
  padding: 10px
}

.header-title>a{
  padding: 10px;
}

.header-nav{
  display: block;
  float:right;
}

.header-nav-list li {
  display:block;
  float:left;
  padding: 15px
}

.header-nav-list li > a {
  font-size: 26px;
  font-weight: 400px;
  padding: 15px;
  width: 150px;
}

.header a:hover{
  color: #E49559;
}

footer{
  color: grey;
  display: block;
  font-size: 16px;
  width: 996px;
  background-color: white;
  margin: auto;
  border-bottom: 2px double darkgrey ;
  border-left: 2px double darkgrey ;
  border-right: 2px double darkgrey ;
}

footer .footer-copyright{
  display: block;
  float: left;
}

footer .footer-logged-in{
  display: block;
  float: right;
}

main * {
  padding: 5px 10px;
  margin: 5px auto;
  text-align: center;
}

#content h2 {
  font-weight: 400;
  font-size: 24px
}

#content img {
  padding: 0;
  display: block;
  width: 200px;
  height: auto;
  border: 2px double darkgrey;
  border-radius: 10px;
}

#content p {
}

 #content strong, a {
  padding: 0;
  margin: 0, 0;
  display: inline
}
