
body, main, p, div, ul, li, h1, hr, h6, a {
  padding: 0;
  margin: 0;
  border: 0;


  font: inherit;
  text-align: inherit;
  color: inherit;

  text-emphasis: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: helvetica;
  font-weight: 300;
  background-color: #A85516;
}

main {
  background-color: #E49559;
  min-height: 400px;
  width: 996px;
  margin: auto;
  border: darkgrey double 2px;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

.header{
  display: block;
  background: #CD332F;
  width: 1000px;
  margin: auto;
  color: white;
}

.header-title{
  display: block;
  float: left;
  font-size: 36px;
  font-weight: 600;
  padding: 10px
}

.header-title>a{
  padding: 10px;
}

.header-nav{
  display: block;
  float:right;
}

.header-nav-list li {
  display:block;
  float:left;
  padding: 15px
}

.header-nav-list li > a {
  font-size: 26px;
  font-weight: 400px;
  padding: 15px;
  width: 150px;
}

.header a:hover{
  color: #E49559;
}
